/*CSS Reset*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
  /*put a border around everything to see where it stops and starts*/
    border:1px solid red;
    font-family: 'Roboto Mono', monospace;
}



/* container Styles */
.container {
    text-align: center;
    margin: 0 auto;
    width: 95%;
}


/* Header Styles */
header nav  {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 80%;
    margin-left: 10%;
}

header nav a {
   color: white;
   text-decoration: none;
   padding: 1%;
   margin: 8%;
   border-radius: 1rem;
}


/* Nav link Styles */
.plan {
   background-color: #FF764E;
}

.learn {
    background-color: #5ED3EB;
}

.get {
    background-color: #FFCD69;
}


/* top section styles*/
#top h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 3.125rem;
    margin: -20% 33%  5%;
    width: 50%;
}

#top img {
    width: 18%;
    margin: 2% 0 2% -58%;;
    border-radius: 50%;
}

#top p {
    width: 32%;
    margin: -2% 41% 4% ;
}


/*About section style */
#aboutSection {
    background-color: #DDB9A3;
}

/*footer styles */
.footerSection {
    background-color: #F9E7DC;
}